@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Foggy</h1>
    <p class="lead">Foggy is a Steam clone build using ASP.NET framework.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>